
<form action="" method="post" style="margin: 20px 0px 10px 0px;">
  <label for="">You:</label>
  <input type="text" placeholder="Enter a message....">
  <button>Send</button>
</form>

<div style="border: 1px black solid;"></div>
